* 
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body 
{
    position: relative;
    overflow-x: hidden;
}

.PageSubtitle 
{
    position: relative;
    font-weight: 300;
    font-size: 15px;
    color: gray;
    padding-left: 360px;
    padding-top: 60px;
}

.PageTitle 
{
    position: relative;
    font-size: 50px;
    padding-top: 8px;
    padding-left: 360px;
    font-weight: bold;
}

.PageTitle::after 
{
    content: "";
    position: absolute;
    bottom: 0;
    top: 80px;
    left: 362px;
    width: 55px;
    height: 7px;
    background-color: #feda00;
    border-radius: 10px;
}

/* tickets Section */
.container 
{
    position: absolute;
    width: calc(100% - 300px);
    height: 750px;
    top: 180px;
    left: 300px;
}

/* Time */
.rightContainer 
{
position: fixed;
right: 150px;
top: 60px;
}

.rightContainer .date 
{
    font-size: 15px;
    color: #000000;
}

.rightContainer .date h3 
{
    font-size: 25px;
    color: #000000;
}
